@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --text-color:#43424D;
  --primary:#3D7FFA;
  --secondary:#6299FF;
  --grey:#7D7D7D;
  --light-grey:#F7F7F7;
  --error:#F75656;
  --light-blue:#F4F8FF;
}

.button-box-shadow {
  border: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
  
}

::-webkit-scrollbar{
  display: none !important;
}